<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yukimstore">

    <application
        android:name="com.yukimstore.YukimApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".activity.concrete_activity.IdentificationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MERCHANT ACTIVITIES -->
        <activity
            android:name=".activity.concrete_activity.merchant.CreateStoreActivityM"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.merchant.MenuActivityM"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.merchant.ConsultCategoriesStoreActivityM"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.merchant.ConsultListProductsActivityM"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.merchant.ConsultProductActivityM"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.merchant.AddCategoryActivityM"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.merchant.AddProductActivityM"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.merchant.ConsultOrdersActivityM"
            android:exported="false" />


        <activity
            android:name=".activity.concrete_activity.merchant.ConsultOrderActivityM"
            android:exported="false" />

        <!-- CLIENT ACTIVITIES -->
        <activity
            android:name=".activity.concrete_activity.client.MenuActivityC"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.client.FindStoreActivityC"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.client.FindProductActivityC"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.client.ConsultStoreActivityC"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.client.ConsultCategoriesStoreActivityC"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.client.ConsultListProductsActivityC"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.client.ConsultProductActivityC"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.client.ConsultBasketActivityC"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.client.ConsultOrdersActivityC"
            android:exported="false" />

        <activity
            android:name=".activity.concrete_activity.client.ConsultOrderActivityC"
            android:exported="false" />

    </application>

</manifest>